/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: '960px';
  font-size: '18px'
}

.hnsaf {background-color: #ebebeb
}

  h1 {
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
    color: #333;
}


#nav {
    color: #333;
    font-size: 100;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

#section {
  margin-bottom: 20px;
  padding: 10px;
  border: 5px solid gray;
  width:60%;
  float:left;
  clear: right;
  height: 150px
  }

  #aside {
    color: #333;
    font-size: 100;
    padding: 10px;
    border: 5px solid gray;
    float: left;
    width: 40%;
    height: 150px
  }

  #article {
    width: 10%;
    padding: 10px;
    border: 5px solid gray;
    width: 100%;
    background-color: gray;
    color: #ebebeb;
    
    }
#head-tags {
  background-color: #ebebeb;
  color: grey;
  border: 5px solid gray;
}

#p {
  background-color: #ebebeb;
  color: grey;
  border: 5px solid gray;
}

#footer {
  padding: 20px;
  margin-bottom: 20px;
  clear: both;
  display: inline-block;
  width:100%;
}
