/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#Nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  float: left;
  width = 33.3
}

#middle {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  float: left
  width = 33.3
}

#right {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  float: left
  width = 33.3
}

#full {
}

#division {
}

aside {
}

footer {
  padding: 20px;
  margin-bottom: 20px;

  background: #FFA500;
}
